*.pyc
*.pyo
*.mo
*~
.coverage
.DS_Store
db.sqlite3
uwsgi.ini
log/**
logs/**
!log/placeholder
media/**
!media/**/init.txt
**/migrations/**
!**/migrations
!**/migrations/__init__.py
ENV/**
demandware-eu/**
demandware/migrations/**