alabaster==0.7.10
Babel==2.4.0
certifi==2017.4.17
chardet==3.0.3
-e git+git@github.com:django/django.git@0a66aa158a47564fa11ff7aa99ffd3d7d73890ed#egg=Django
django-excel==0.0.6
docutils==0.13.1
et-xmlfile==1.0.1
idna==2.5
imagesize==0.7.1
jdcal==1.3
Jinja2==2.9.6
MarkupSafe==1.0
mysqlclient==1.3.10
odfpy==1.3.4
openpyxl==2.4.8
pyexcel==0.4.5
pyexcel-io==0.3.4.1
pyexcel-ods==0.3.3
pyexcel-webio==0.0.11
pyexcel-xls==0.3.3
pyexcel-xlsx==0.3.0
Pygments==2.2.0
PyMySQL==0.7.11
pytz==2017.2
requests==2.17.3
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.6.2
sphinxcontrib-websupport==1.0.1
texttable==0.9.0
urllib3==1.21.1
xlrd==1.0.0
xlwt==1.2.0
